<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="browserConfig" type="MultiBrowserGeneratorProvider.Generator.SpecFlowPlugin.Config.Models.BrowserConfig, MultiBrowserGeneratorProvider.Generator.SpecFlowPlugin" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="GeneratorPluginConfiguration" type="UnitTestGeneratorPlugin.Generator.SpecFlowPlugin.GeneratorPluginConfiguration, UnitTestGeneratorPlugin.Generator.SpecFlowPlugin" requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-5level] [%C] [%M] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <specFlow>
    <unitTestProvider name="NUnit" />
    <plugins>
      <add name="UnitTestGeneratorPlugin.Generator" path="C:\Users\USER\Documents\GitHub\UnitTestGeneratorPlugin\UnitTestGeneratorPlugin\bin\Debug" />
    </plugins>
    <generator>
      <dependencies>
      </dependencies>
    </generator>
    <stepAssemblies>
      <stepAssembly assembly="AutomatedUITesting.Framework" />
    </stepAssemblies>
  </specFlow>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="Execution.Browsers" value="WIN8, Chrome 35" />
    <add key="Sites.Under.Test" value="" />
    <add key="Custom.plugin.generator.configuration" value="UnitTestGeneratorPlugin\UnitTestGeneratorPluginTests\bin\Debug\UnitTestGeneratorPlugin.Generator.SpecFlowPlugin.dll" />
    <add key="Execution.TearDown" value="false" />
    <add key="Execution.tag" value="smokeTest" />
    <add key="Execution.Environment" value="qa01" />
    <add key="Execution.SmokeTestsOnly" value="false" />
    <add key="Execution.type" value="Local" />
    <add key="TestRail.integration" value="false" />
    <add key="TestRail.url" value="https://bedegaming.testrail.com" />
    <add key="TestRail.username" value="sos+AutomatedUITests@bedegaming.com" />
    <add key="TestRail.password" value="Cgsye2hyS5Ubl0T3Dr2w" />
    <add key="Default.wait.for.element.sec" value="60" />
    <add key="Driver.implicit.wait.sec" value="0" />
    <add key="Driver.page.load.time.sec" value="60" />
    <add key="Selenium.grid.Url" value="http://hub.browserstack.com/wd/hub/" />
    <add key="ScreenShotFolderPath" value="..\\..\\..\\AutomatedUITesting.Framework\\Screenshots\\" />
    <add key="DBReporting" value="false" />
    <add key="DBReporting.Host" value="104.46.56.233" />
    <add key="Screenshots.Host" value="http://ew1-qa01-901.cloudapp.net/" />
    <add key="Enviorment.Properties.Path" value="..\\..\\..\\Submodules\\SharedResources\\SharedResources\\WebSiteResources\\Environments\\" />
    <add key="Resources.Properties.Path" value="..\\..\\..\\Submodules\\SharedResources\\SharedResources\\WebSiteResources\\" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="App_Data/Dependencies" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <GeneratorPluginConfiguration>
    <AdditionalCategoryAttributes>
      <AdditionalCategoryAttribute type="unique" value="uniqueID:" />
      <AdditionalCategoryAttribute type="unique" value="uniqueUser:" />
      <AdditionalCategoryAttribute type="simple" value="cat" />
      <AdditionalCategoryAttribute type="test" value="category" />
    </AdditionalCategoryAttributes>
    <AdditionalTestCaseAttributes>
      <AdditionalTestCaseAttribute type="Site" value="Bingo Godz" />
      <AdditionalTestCaseAttribute type="Site" value="Health Bingo" />
      <AdditionalTestCaseAttribute type="Site" value="STV" />
      <AdditionalTestCaseAttribute type="Site" value="Slot Mob" />
      <AdditionalTestCaseAttribute type="Site" value="Bingo Stars" />
      <AdditionalTestCaseAttribute type="Browser" value="WIN8, Chrome 35" />
	  <AdditionalTestCaseAttribute type="unique" value="uniqueChrome:" />
    </AdditionalTestCaseAttributes>
    <Steps>
      <Step position="1" type="Given" value="Write message for test start with {Browser} and {Site}" />
      <Step position="2" type="When" value="I am using {Browser} as my browser" />
      <Step position="4" type="Then" value="I am on the {Site} site" />
	  <Step position="3" type="Given" value="I write hellou message" />
      <Step position="100" type="Given" value="I write hellou message" />
      <Step position="101" type="When" value="I write hellou message" />
      <Step position="1000" type="Then" value="I write hellou message" />
    </Steps>
    <FilterAssembly filepath="C:\Users\USER\Documents\GitHub\AutomatedUItesting\AutomatedUITesting.Framework\bin\Debug\AutomatedUITesting.Framework.dll" />
    <AdditionalCategoryAttributeFilter classname="AutomatedUITesting.Framework.SupportingFunctionality.Filters" method="CategoriesFilter" />
    <AdditionalTestCaseAttributeFilter classname="AutomatedUITesting.Framework.SupportingFunctionality.Filters" method="TestCaseAttributeFilter"/>
    <StepFilter classname="AutomatedUITesting.Framework.SupportingFunctionality.Filters" method="StepsFilter" />
  </GeneratorPluginConfiguration>

</configuration>
